@model IdentityRole
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<form asp-action="Create" enctype="multipart/form-data" >

     <partial name="PartialViews/CreateEditRolePartialView"/>
    <input type="submit" class="btn btn-primary" value="Submit"/> |
    <a asp-action="Index" class="btn btn-primary">Back To List</a>
</form>

@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial"/>
}

